@inherits LayoutComponentBase
<PageTitle>Domotica Brótons</PageTitle>
<div class="container my-5">
    <NavLink class="navbar-brand" href="/">
        <img src="img/BROTONS_logov2_original.png" alt="Brotóns SmartLife" class="green-logo" id="white-logo">
    </NavLink>
    @Body
</div>
<Footer />