<!-- About-->
<section class="page-section" id="domotica">
    <div class="container ">
        <!-- Primera fila -->
        <div class="row py-5">
            <div class="col-md-6 animated fadeInLeft" id="about-fadeInLeft">
                <h2 class="mt-0 mb-4">DOMÓTICA</h2>
                <p class="mb-4">La DOMÓTICA es el conjunto de sistemas capaces de automatizar una vivienda o
                    edificación de cualquier tipo, aportando servicios de gestión energética, seguridad, bienestar y
                    comunicación, y que pueden estar integrados por medio de redes interiores y exteriores de
                    comunicación, cableadas o inalámbricas, y cuyo control goza de cierta ubicuidad, desde dentro y
                    fuera del hogar.
                    Es la integración de la tecnología en el diseño inteligente de un recinto cerrado.
                    <br /><br />
                    La App de Loxone está disponible para Smartphone o tableta, ya sean con sistema operativo iOS o
                    Android. El control de la Smart Home siempre a mano
                </p>
            </div>
            <div class="col-md-6 animated fadeInRight">
                <img src="img/imagen-domotica-brotons-1.png" class="img-fluid" alt="Imagen Izquierda">
            </div>
        </div>
    </div>
</section>