<!-- Segunda fila -->
<section class="page-section second-row" id="inmotica">
    <div class="container">
        <div class="row ">
            <div class="col-md-6 order-md-2 animated fadeInRight">
                <h2 class="mt-0 mb-4">INMÓTICA</h2>
                <p>La INMÓTICA es la automatización integral de inmuebles con alta tecnología. La centralización de
                    los datos del edificio o complejo , posibilita supervisar y controlar confortablemente los
                    estados de funcionamiento o alarmas de los sistemas que componen la instalación desde un
                    Smartphone, Tablet o PC, también se puede superviar y controlar los principales parámetros de
                    medida. La Inmótica integra la domótica interna dentro de una estructura en red..</p>
            </div>
            <div class="col-md-6 order-md-1">
                <img src="img/imagen-inmotica-brotons-1.png" class="img-fluid" alt="Imagen Izquierda">
            </div>
        </div>
    </div>


</section>