    <!-- Precios-->
    <section class="bg-light py-5 border-bottom" id="precios">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h2 class="fw-bolder">PRECIOS PAQUETES ORIENTATIVOS </h2>
                <p class="lead mb-0">Selecciona el kit que mejor se adapte a tus necesidades y lo configuraremos a tu
                    medida </p>
            </div>
            <div class="row gx-5 justify-content-center">
                <!-- KIT STARTER-->
                <div class="col-lg-6 col-xl-4">
                    <div class="card mb-5 mb-xl-0">
                        <div class="card-body p-5">
                            <div class="text-uppercase fw-bold ">KIT STARTER</div>

                            <div class="small  text-muted py-2">Perfecto para iniciarse</div>
                            <span class="small text-muted">Desde</span>
                            <div class="mb-1">

                                <span class="display-4 fw-bold">2450€</span>
                                <span class="small text-muted">iva no incluido.</span>
                            </div>


                            <ul class="list-unstyled  py-3 mb-4">
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Motores de persiana en salón y 3 habitaciones
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Puntos de luz en el salón y 3 habitaciones
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Interruptores de luces, sensor temperatura en salón y 3 habitaciones
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Contacto de ventana en salón y 3 habitaciones
                                </li>

                            </ul>
                            <div class="d-grid"><a class="btn btn-outline-primary" href="#contact">Más información</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- KIT ADVANCED-->
                <div class="col-lg-6 col-xl-4">
                    <div class="card mb-5 mb-xl-0">
                        <div class="card-body p-5">
                            <div class="text-uppercase fw-bold ">KIT ADVANCED </div>

                            <div class="small  text-muted py-2">Adaptado a todas las necesidades </div>
                            <span class="small text-muted">Desde</span>
                            <div class="mb-1">

                                <span class="display-4 fw-bold">3960€</span>
                                <span class="small text-muted">iva no incluido.</span>
                            </div>


                            <ul class="list-unstyled  py-3 mb-4">
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Motores de persiana en salón, 3 habitaciones y cocina
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Puntos de luz en el salón y 3 habitaciones
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Interruptores de luces, sensor temperatura en salón, 3 habitaciones y cocina
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Contacto de ventana en salón, 3 habitaciones, cocina y entrada principal
                                </li>

                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Encendido y apagado tv o consola o música o aire del salón ,microondas o cafetera.
                                </li>

                            </ul>
                            <div class="d-grid"><a class="btn btn-outline-primary" href="#contact">Más información</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- KIT DELUXE-->
                <div class="col-lg-6 col-xl-4">
                    <div class="card mb-5 mb-xl-0">
                        <div class="card-body p-5">
                            <div class="text-uppercase fw-bold ">KIT DELUXE </div>

                            <div class="small  text-muted py-2">El más valorado </div>
                            <span class="small text-muted">Desde</span>
                            <div class="mb-1">

                                <span class="display-4 fw-bold">5250€</span>
                                <span class="small text-muted">iva no incluido.</span>
                            </div>


                            <ul class="list-unstyled  py-3 mb-4">
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Motores de persiana en salón, 3 habitaciones y cocina
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Puntos de luz en el salón, 3 habitaciones, cocina y entrada principal
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Interruptores de luces, sensor temperatura en salón, 3 habitaciones, cocina y
                                    entrada principal
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Control de presencia salón, 3 habitaciones, cocina y entrada principal
                                </li>

                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Control TV y cable, cambio canales y volumen, también control temperatura aire
                                </li>

                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Sensor de inundación cocina y 2 baños
                                </li>

                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Electroválvula de corte de agua cocina y 2 baños
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Contacto de ventana en salón, 3 habitaciones, cocina y entrada principal
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Encendido y apagado tv o consola o música, también del aire del salón, microondas,
                                    cafetera.
                                </li>

                            </ul>
                            <div class="d-grid"><a class="btn btn-outline-primary" href="#contact">Más información</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>