 <!-- Services-->
    <section class="page-section" id="servicios">
        <div class="container px-4 px-lg-5">
            <h2 class="text-center mt-0">¿QUÉ OFRECE DOMÓTICA BROTONS? </h2>
            <p class="text-center">Una casa inteligente fácil de manejar con una interfaz muy intuitiva. Simplicidad,
                economía y seguridad ¡sin preocupaciones. </p>

            <hr class="divider" />
            <div class="row animated fadeInUp">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><img src="img/domoticabrotons-sistema-alarma-1.png" class="img-fluid"
                                alt="Imagen Izquierda"></div>
                        <h4 class="features-title mt-3">ALARMA</h4>
                        <p class="text-muted mb-0">Habilitar un sistema de alarma con los componentes ya existentes,
                            como sensores de presencia, iluminación, persianas. Recibir una llamada telefónica al
                            momento. Existen alarmas de incendio, intrusión...</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><img src="img/domoticabrotons-sistema-sombreado.png" class="img-fluid"
                                alt="Imagen Izquierda"></div>
                        <h4 class="features-title mt-3">SOMBREADO</h4>
                        <p class="text-muted mb-0">Programe de forma inteligente el sombreado, controle diferentes tipos
                            de persianas, así como persianas venecianas, toldos o cortinas individualmente, en grupos o
                            de forma automática.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><img src="img/domoticabrotons-sistema-iluminacion.png"
                                class="img-fluid" alt="Imagen Izquierda"></div>
                        <h4 class="features-title mt-3">ILUMINACIÓN</h4>
                        <p class="text-muted mb-0">Controle cualquier tipo de luminaria que tenga en casa. Desde
                            bombillas a luces LED. Combine diferentes luminarias, regule sus intensidades y escoja los
                            colores perfectos para cada espacio y ocasión.</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><img src="img/domoticabrotons-sistema-temperatura.png"
                                class="img-fluid" alt="Imagen Izquierda"></div>
                        <h4 class="features-title mt-3">CLIMA</h4>
                        <p class="text-muted mb-0">Controla la calefacción y el sistema de refrigeración de tu hogar,
                            aunque sean de diferentes tipos y fabricantes. El control de la temperatura es ágil, rápido
                            y cómodo.</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><img src="img/domoticabrotons-sistema-audio.png" class="img-fluid"
                                alt="Imagen Izquierda"></div>
                        <h4 class="features-title mt-3">AUDIO</h4>
                        <p class="text-muted mb-0">Despierta con tu música favorita y escúchala en cualquier habitación
                            o espacio de tu casa. Puede activarse de forma automática o manual y también vincularse a
                            los sistemas de alarma e iluminación.</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><img src="img/domoticabrotons-sistema-audio.png" class="img-fluid"
                                alt="Imagen Izquierda"></div>
                        <h4 class="features-title mt-3">AHORRO ENERGÉTICO </h4>
                        <p class="text-muted mb-0">¡Apuesta por la instalación fotovoltaica! Consumir sólo la energía
                            que generamos y necesitamos es el camino seguro hacia el ahorro energético, activando
                            acciones específicas y más eficientes.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>