<!-- Call to action-->
<section class="page-section masthead text-white" id="ventajas">
    <div class="container px-4 px-lg-5 text-center">
        <h2 class="mb-4">VENTAJAS de un hogar domotizado</h2>
        <h3 class="section-title"></h3>
        <div class="section-description">
            <p><i class="fa fa-check"></i> Telegestión y facilidad de uso en cualquier lugar y momento: móviles
                smartphones, tablets, laptops, PCs...</p>
            <p><i class="fa fa-check"></i>
                Ahorro en las facturas de agua, energía eléctrica y consumo energético por un control inteligente
                del gas, calefacción, luminarias, termos, etc.</p>
            <p><i class="fa fa-check"></i>
                Instalaciones seguras frente a incendios, escapes de agua, gas y la acción de la climatología.</p>
        </div>
    </div>
</section>