<!-- EsquemaContratacion -->
<section id="accent" class="accent-section">
    <div class="container">
        <div class="section-content">
            <div class="section-subcontent animated anHidden" data-animation="fadeInUp">
                <h3 class="section-title">ESQUEMA DE CONTRATACIÓN</h3>
                <i class="fas fa-lightbulb"></i>
                <div class="section-description">
                    <ul><br />
                        <h3><i class="fas fa-lightbulb"></i> INGENIERÍA</h3>
                        Elaboramos y diseñamos su proyecto, ofreciendo asesoramiento sobre los elementos que
                        constituyen la solución y cuál es el material coste beneficio acorde a sus
                        necesidades.<br />
                        <br /><br />
                        <h3><i class="fa fa-cog"></i> PUESTA EN MARCHA</h3>
                        Programamos toda la funcionalidad para interconectar los elemento al control requerido,
                        gestionandolo desde el PCs, el móvil o tablets, etc, informando (conjuntamente con
                        proveedores previamente contratados) las necesidades de instalación requeridos para llevar a
                        cabo las soluciones y los objetivos a conseguir.<br />
                        <br /><br />
                        <h3><i class="fa fa-plug"></i> ENTREGA</h3>
                        En el momento en que se queda a cargo del volante, lo asistiremos hasta 1 año para que pueda
                        navegar y comandar toda la solución sin riesgos a quedarse parado en ningún momento del
                        camino. Previamente conseguimos que dejara toda la instalación lista para un crecimiento
                        futuro, así no incurrir en costes extras cuando requiera nueva funcionalidad.
                        <br />
                        <br /><br />
                        <h3><i class="fa fa-shield"></i> POSTVENTA</h3>
                        Garantía de por vida de la programación realizada, y transferimos el tiempo de garantía de
                        los fabricantes de todos los materiales utilizados. De esta forma puede estar tranquilo de
                        que siempre estará cubierto.
                    </ul>
                </div>
            </div>
            <div class="section-buttons animated anHidden" data-animation="fadeInRight">
            </div>

        </div>
    </div>
</section>