  <!-- Basic features section-->
    <section class="bg-light about" id="quienesSomos">
        <div class="container px-5">
            <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
                <div class="col-12 col-lg-8">
                    <h2 class="fw-bolder">¿Quiénes somos?</h2>
                    <p class="lead fw-normal text-muted mb-5 mb-lg-0 py-3">Domótica BROTONS se especializa en el campo
                        de la domótica y la inmótica.</p>

                    <p class="p1">Ingeniero Informático superior con más de 25 años de experiencia en empresas privadas
                        y de la administración, nacionales e internacionales.</p>
                    <p class="p1">Informática El Corte Inglés S.A. España<br />
                        Informática El Corte Ingles S.A De C.V México<br />
                        Nanfor Iberica, España<br />
                        Getronics Colombia<br />
                        SENA Colombia<br />
                        BBVA Fiduciaria Colombia</p>
                    <p class="p1">Durante toda mi experiencia siempre he estado gestionando proyectos de diversa
                        envergadura siendo posible el llevar a cabo proyectos desde ámbitos domésticos hasta
                        empresariales, aplicando metodologías para evitar sus desviaciones, y asegurando el mínimo coste
                        y el máximo de beneficio de los mismos.</p>
                    <p class="p1">Mi veteranía en programas de ordenador combinada con la experiencia en gestión de
                        equipos y atención a usuarios finales, ofrece a mis clientes el poder recibir la información en
                        un lenguaje sencillo, libre de complejos términos técnicos, haciéndolos sentir cómodos y
                        entendidos y que la solución que reciben sea realmente lo que quieren o la complemente sin sobre
                        costes.</p>
                    <p class="p1">He puesto toda mi habilidad en automatismo, eficiencia energética, seguridad y control
                        y desde 2016 servicios de domótica, de la mano con Loxone como silver partner, especializándonos
                        en Lavanderías Autoservicio, colegios y hogares.</p>
                    <p class="p1">Con un equipo de instaladores certificados IBTE (Certificado de Instalador Autorizado
                        en Baja Tensión con categoría Especialista), que garantizan que las soluciones que entregamos
                        sean 100% confiables y seguras.</p>

                </div>
                <div class="col-12 col-lg-3">
                    <div class="px-5 px-sm-0"><img class="img-fluid rounded-circle"
                            src="img/domotica-brotons-quienes-somos-billy-vanegas-brotons-03.jpg" alt="..." />
                    </div>
                </div>
            </div>
        </div>
    </section>